<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="initial-scale=1" />

  <base href="/">

  <title>Nexus Knowledge Graph Browser</title>

  <!-- css files -->
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="/app/app.css">

  <!--angular stuff-->
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/node_modules/angular-animate/angular-animate.js"></script>
  <script src="/node_modules/angular-aria/angular-aria.js"></script>
  <script src="/node_modules/angular-messages/angular-messages.js"></script>
  <script src="/node_modules/angular-material/angular-material.js"></script>

  <!--utilities-->
  <script src="/node_modules/lodash/lodash.js"></script>

  <!--our angular app-->
  <script src="/app/app.js"></script>
  <script src="/app/services.js"></script>
  <script src="/app/controllers.js"></script>
</head>

<body ng-app="nar" layout="column">
      <!-- Container #1 (see wireframe) -->
    <md-toolbar layout="row" class="md-toolbar-tools" ng-controller="MenuController as menu">

      <md-menu md-offset="0 40">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="menu.openMenu($mdMenu, $event)">
        <md-icon>menu</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="type in menu.instance_types">
          <md-button ng-click="menu.select(type, $event)">{{menu.get_type_name(type)}}</md-button>
        </md-menu-item>
      </md-menu-content>
      </md-menu>

      <h1 flex>Nexus Knowledge Graph</h1>
    </md-toolbar>

    <!-- Container #2 -->
    <div flex layout="row" ng-controller="DefaultController as app">

      <!-- Container #3 -->
      <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
        <md-list ng-if="app.instances">

		<md-list-item ng-repeat="instance in app.instances">
			<md-button ng-click="app.selectInstance(instance)" ng-class="{'selected' : instance === app.selected }">
			  {{instance.get_label()}}
			</md-button>
		</md-list-item>

	  </md-list>

        <div ng-hide="app.instances.length"><md-button>No instances</md-button></div>
      </md-sidenav>

      <!-- Container #4 -->
      <md-content flex id="content">
        <!-- <div ui-view>Hello, world!</div> -->
        <div ng-show="app.show_readme">
          <p>Welcome to the Nexus Knowledge Graph browser. You are browsing <b>{{app.base_url}}</b></p>
          <p>To get started, select an instance type from the drop-down menu (top-left)</p>
        </div>

        <h2 class="md-display-1">{{app.selected.get_label()}}</h2>
        <h3 class="md-caption">{{app.selected.id}}</h3>

        <md-list>
          <md-list-item ng-repeat="attribute in app.selected.attributes" layout="row" ng-class-odd="'odd'" ng-class-even="'even'">
            <span flex="20">{{attribute.label}}</span>
            <span flex>{{attribute.value}}</span>
          </md-list-item>
        </md-list>

      </md-content>

    </div>


</body>
</html>